# Use omxplayer for raspberry pi 3 buster CRT mode.
PLAYER_COMMAND=omxplayer
# Need mplayer for vo filters
PLAYER_CACA=mplayer
PLAYER_AA=mplayer

# SMB Required
SMB_LOCAL_HOSTNAME=desktop-pc
SMB_REMOTE_HOSTNAME=server-pc
SMB_ADDRESS=192.168.1.100
# Optional
SMB_USERNAME=guest
SMB_PASSWORD=
SMB_DOMAIN=workgroup
SMB_PORT=445

# Plex required
PLEX_BASEURL=http://192.168.1.100:32400
PLEX_TOKEN=xxxxxxxxxxxxxxxxxx
PLEX_VIDEO_RESOLUTION=640x480
